@model int

@if (this.Model == 10)
{
    <input type="radio" checked id="star10" name="rating" value="10" /><label for="star10" title="Masterpiece">10 stars</label>
}
else
{
    <input type="radio" id="star10" name="rating" value="10" /><label for="star10" title="Masterpiece">10 stars</label>
}
@if (this.Model == 9)
{
    <input type="radio" checked id="star9" name="rating" value="9" /><label for="star9" title="Great">9 stars</label>
}
else
{
    <input type="radio" id="star9" name="rating" value="9" /><label for="star9" title="Great">9 stars</label>
}
@if (this.Model == 8)
{
    <input type="radio" checked id="star8" name="rating" value="8" /><label for="star8" title="Very Good">8 stars</label>
}
else
{
    <input type="radio" id="star8" name="rating" value="8" /><label for="star8" title="Very Good">8 stars</label>
}
@if (this.Model == 7)
{
    <input type="radio" checked id="star7" name="rating" value="7" /><label for="star7" title="Good">7 stars</label>
}
else
{
    <input type="radio" id="star7" name="rating" value="7" /><label for="star7" title="Good">7 stars</label>
}
@if (this.Model == 6)
{
    <input type="radio" checked id="star6" name="rating" value="6" /><label for="star6" title="Fine">6 star</label>
}
else
{
    <input type="radio" id="star6" name="rating" value="6" /><label for="star6" title="Fine">6 star</label>
}
@if (this.Model == 5)
{
    <input type="radio" checked id="star5" name="rating" value="5" /><label for="star5" title="Average">5 stars</label>
}
else
{
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Average">5 stars</label>
}
@if (this.Model == 4)
{
    <input type="radio" checked id="star4" name="rating" value="4" /><label for="star4" title="Bad">4 stars</label>
}
else
{
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Bad">4 stars</label>
}
@if (this.Model == 3)
{
    <input type="radio" checked id="star3" name="rating" value="3" /><label for="star3" title="Very Bad">3 stars</label>
}
else
{
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Very Bad">3 stars</label>
}
@if (this.Model == 2)
{
    <input type="radio" checked id="star2" name="rating" value="2" /><label for="star2" title="Horrible">2 stars</label>
}
else
{
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Horrible">2 stars</label>
}
@if (this.Model == 1)
{
    <input type="radio" checked id="star1" name="rating" value="1" /><label for="star1" title="Appalling">1 star</label>
}
else
{
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Appalling">1 star</label>
}