@if (this.TempData.ContainsKey(ErrorConstants.Error_Key))
{
    <br />

    <div class="alert alert-danger text-center">
        @foreach (var error in this.TempData.Where(p => p.Key == ErrorConstants.Error_Key))
        {
            <b>@error.Value</b>
        }
    </div>
}
@if (this.TempData.ContainsKey(SuccessConstants.Successful_Action_Key))
{
    <br />

    <div class="alert alert-success text-center">
        @foreach (var message in this.TempData.Where(p => p.Key == SuccessConstants.Successful_Action_Key))
        {
            <b>@message.Value</b>
        }
    </div>
}