<footer class="section footer-classic">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4">
                    <a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                    <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>My Anime World</span><span>. </span><span>All Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xl-3">
                <h5>Links</h5>
                <ul class="nav-list">
                    <li><a href="/about">About</a></li>
                    <li><a href="https://github.com/kirrcho">Projects</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="/contacts">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style>
    .context-dark, .bg-gray-dark, .bg-primary {
        color: rgba(255, 255, 255, 0.8);
    }

    .footer-classic a, .footer-classic a:focus, .footer-classic a:active {
        color: #000;
    }

    .nav-list li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

        .nav-list li a:hover:before {
            margin-left: 0;
            opacity: 1;
            visibility: visible;
        }

    ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav-list li a:before {
        content: "\f14f";
        font: 400 21px/1 "Material Design Icons";
        color: #4d6de6;
        display: inline-block;
        vertical-align: baseline;
        margin-left: -28px;
        margin-right: 7px;
        opacity: 0;
        visibility: hidden;
        transition: .22s ease;
    }
</style>